.grid_item {
  width: 176px;
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-top: #2a3333 1px solid;
}

.whyText {
  background-color: #1e0786;
}

.blue {
  background-color: rgb(5, 5, 161, 0.4);
  color: black;
}

.green {
  background-color: rgb(92, 206, 79, 0.4);
  color: black;
}

.yellow {
  background-color: rgb(92, 206, 79, 0.4);
  color: black;
}

.blue div {
  opacity: 0;
}

.green div {
  opacity: 0;
}

.yellow div {
  opacity: 100;
}
